.container {
    display: flex;
    flex-direction: row;
    height: 92vh;
}
main {
    flex-grow: 3;
    background-color: rgb(195, 176, 205);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1em;
}
.side1 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 2em;
    grid-gap: 10px;
    margin-right: 1em;
}
.side2 {
    flex-grow: 1;
}
.side1 div {
    background-color: lightgray;
}
#box1 {
    border: 1px solid lightgray;
    padding: 5px;
}
#box3{
    grid-column: 1/3;
    grid-row: 8;
    justify-self: start;
}
#box4{
    grid-column: 1/3;
    grid-row: 4;
}
#box5{
    grid-column: 1/3;
    grid-row: 5;
}
#box6{
    grid-column: 1/3;
    grid-row: 6;
}
#box7{
    grid-column: 1/3;
        grid-row: 7;
}
#box8 {
    grid-column: 1/3;
    grid-row: 14;
    height: 9em;
}
#boxa {
    grid-column: 1/7;
}
#boxb {
    grid-column: 12;
}