.container {
    display: flex;
    flex-direction: row;
    height: 92vh;
}
main {
    flex-grow: 3;
    background-color: lightgray;
}
.side1 {
    flex-grow: 1;
    display: grid;
}
.side2 {
    flex-grow: 1;
}
.sidec {
    background-color: lightgray;
}
#a {
    border: 1px solid lightgray;
    padding: 5px;
}